@tailwind base;
@tailwind components;
@tailwind utilities;


    canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
        .profile-container {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row-reverse;
            width: 75%;
            max-width: 850px;
            min-height: 280px;
            padding: 25px 15px;
            background-color: rgba(0, 0, 0, 0.62);
            border-radius: 22px;
            box-shadow: 0 4px 24px 6px rgba(0,0,0,.23);
            z-index: 10;
            text-align: right;
            direction: rtl;
        }
        .profile-image {
            width: 235px;
            height: 235px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 45px;
            flex-shrink: 0;
            box-shadow: 0 2px 20px 1px rgba(0,0,0,.13);
        }
        .profile-image img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
        .profile-info {
            width: 100%;
            color: #fff;
            text-align: right;
            font-size: 1.15rem;
            line-height: 2.2rem;
        }
        .profile-info h2 {
            font-size: 2.55rem;
            margin-bottom: 22px;
            font-weight: 800;
        }
        /* ریسپانسیو */
        @media (max-width: 900px) {
            .profile-container {
                flex-direction: column;
                min-height: unset;
                padding: 34px 9px;
                width: 98%;
                max-width: 600px;
            }
            .profile-image {
                margin-right: 0;
                margin-bottom: 30px;
                width: 170px !important;
                height: 170px !important;
            }
            .profile-info {
                font-size: 1.08rem;
                text-align: center;
            }
            .profile-info h2 {
                font-size: 1.45rem;
            }
        }    
