@tailwind base;
@tailwind components;
@tailwind utilities;
    body{
       /* direction: rtl;*/
        overflow-x: hidden; /* اسکرول‌بار افقی را مخفی می‌کند */
        overflow-y: auto;
    }
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
        