@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    @apply bg-dark-bg;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Vazir', Tahoma, Arial, sans-serif;
  }
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
   
